---
 const personalImageAlt = "Estiven Yepes"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Estiven Yepes Arenas y soy de Marinilla Ant. Hace 7 años, al terminar la etapa escolar quería ser programador sin saber que era la programación ... hoy 2024 tengo la oportunidad de hacer feliz a otras personas con mis soluciones <strong>gracias a mis capacidades</strong>  y lo mejor de todo<strong> estoy siendo feliz programando.</strong
      >.
    </p>

    <p>
      En el 2023 termine mis estudios como Desarrollador Web Full Stack. Gracias a mi  interés y dedicación por el tema en el proceso de aprendizaje hoy puedo afrontar mejor los problemas y encontrar optimas soluciones el desarrollo de diferentes aplicaciones.
    </p>

  </div>

  <img width="200" height="200" src="/me.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-yellow-500/5 ring-1 ring-white/20 " style="object-position: 50% 50%">

</article>


